<mat-toolbar color="accent" class="header">
    <span>PWA with Angular-12</span>
</mat-toolbar>

<div  class="example-container mat-elevation-z8">
<mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef="id">
        <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.id}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Name</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.email}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="website">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Website</mat-header-cell>
        <mat-cell *matCellDef="let element">{{element.website}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="col"></mat-header-row>
    <mat-row *matRowDef="let row;columns: col;"></mat-row>
</mat-table>

<mat-paginator #paginator [pageSizeOptions]="[2, 5, 7, 10]" showFirstLastButtons></mat-paginator>

</div>
<router-outlet></router-outlet>